<h2><%= @project.title %></h2>
<h5><a href="/project/<%= @project.id %>/edit">Edit project</a></h5>
<br>
<form action="/project/<%= @project.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <br>
  <button type="submit" class="btn btn-danger">Delete project</button>
  </form> 
  <br>
<h3>Add volunteers to this project</h3>
<br>
<br>
<form action="/project/<%= @project.id%>/volunteers/volunteers_id" method="post">
  <div class="form-group">
    <input type="text" name="volunteer_name" id="volunteer" placeholder="Name of volunteer">
  </div>
  <br>
  <button class="btn-danger">Add volunteer</button>
</form>


<h3>Volunteers working on this project</h3>

<% if @volunteers.any? %>
<ul>
  <% @volunteers.each do |volunteer|%>
  <h3><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></h3>
  <% end %>
</ul>

<% else %>
  <p>There are no volunteers currently on this project. Why don't you assign some.</p>
  <% end %>